<h1> Criando Colunas </h1> <br>
Existem diversas maneiras de criar colunas em um DataFrame no Pandas. Alguns exemplos são:

1 - Atribuição direta de valores a uma nova coluna:

In [1]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = [7, 8, 9]
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

2 - Criação de uma coluna a partir de operações entre outras colunas:

In [2]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'] + df['B']
df

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

3 - Utilização do método assign() para criar uma nova coluna:

In [3]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df = df.assign(C=[7, 8, 9])
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

4 - Utilização do método apply() para aplicar uma função a uma coluna existente e criar uma nova coluna:

In [4]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['C'] = df['A'].apply(lambda x: x * 2)
df

   A  B  C
0  1  4  2
1  2  5  4
2  3  6  6

Caso queira se aprofundar nesse assunto, consulte a documentação:
https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#how-to-create-new-columns-derived-from-existing-columns